@{
	Layout = "_ColumnsOne";

	//page class
	NopHtml.AppendPageCssClassParts("html-home-page");
}
<div class="page home-page">
	<div class="page-body">
		<h1>@T("medlook.shop.name")</h1>

		@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeCategories })
		@await Component.InvokeAsync("HomepageCategories")

		@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeProducts })
		@await Component.InvokeAsync("HomepageProducts")

		@await Component.InvokeAsync("TopicBlock", new { systemName = "HomepageTextInfo" })

		@*@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeBestSellers })
			@await Component.InvokeAsync("HomepageBestSellers")*@

		@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBottom })
	</div>
</div>



