@model FoxNetSoft.Plugin.Payments.LiqPay.Models.ErrorMessageModel
@{
    Layout = "_ColumnsTwo";
}

<p class="page">
    <div class="page-body">
        <div class="post-body">
            @Model.ErrorMessage
        </div>
    </div>
</p>
