@model LogoModel
<a href="@Url.RouteUrl("Homepage")" class="header-inner--logo">
    <div class="logo-wrapper">
        <svg class="medlook hidden-xs hidden-sm hidden-md">
        </svg>
    </div>
</a>