<div class="header">
	@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderBefore })

	<div class="header-upper">

		@await Component.InvokeAsync("TopMenu")

		<div class="header-selectors-wrapper">
			@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderSelectors })
		</div>

	</div>

	@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderMiddle })

	<div class="header-lower">
		@await Component.InvokeAsync("AdminHeaderLinks")
		<div class="search-box">
			@await Component.InvokeAsync("SearchBox")
		</div>		
	</div>
	@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderAfter })
</div>
