<div class="header">
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderBefore })

    <div class="header-inner">
        <nav-header class="nav-top">
            <svg id="ham" class="hamburger nav-top__toggle-svg" viewbox="0 0 60 40">
                <g stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                    <path id="top-line" d="M16,10 L50,10 Z"></path>
                    <path id="middle-line" d="M16,20 L50,20 Z"></path>
                    <path id="bottom-line" d="M16,30 L50,30 Z"></path>
                </g>
            </svg>
            @await Component.InvokeAsync("Logo")
            @await Component.InvokeAsync("HeaderLinks")

        </nav-header>
        @await Component.InvokeAsync("TopMenu")

    </div>

    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderSelectors })
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderMiddle })

    <div class="header-lower">
        @await Component.InvokeAsync("AdminHeaderLinks")
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderAfter })
</div>
