@model IList<ProductOverviewModel>
@if (Model.Count > 0)
{
    <div class="home-page-product-grid products">
        <div class="swiper swiper-products">
            <h2 class="title">
                @T("Homepage.Products")
            </h2>
            <div class="swiper-buttons">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            <div class="swiper-wrapper">
                @foreach (var item in Model)
                {
                    <div class="swiper-slide">
                        <div class="item-box item">
                            @await Html.PartialAsync("_ProductBoxSimple", item)
                        </div>
                    </div>
                }

            </div>
            <div class="swiper-scrollbar"></div>
        </div>
    </div>
    <script>
        const swiperProducts = new Swiper('.swiper-products', {
            scrollbar: {
                el: '.swiper-scrollbar',
                draggable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            slideToClickedSlide: false,
            breakpoints: {
                320: {
                    slidesPerView: 2,
                    spaceBetween: 10
                },
                480: {
                    slidesPerView: 3,
                    spaceBetween: 10
                },
                640: {
                    slidesPerView: 3,
                    spaceBetween: 20
                },
                768: {
                    slidesPerView: 4,
                    spaceBetween: 20
                },
                1024: {
                    slidesPerView: 5,
                    spaceBetween: 20
                },
                1280: {
                    slidesPerView: 6,
                    spaceBetween: 20
                },
                1440: {
                    slidesPerView: 7,
                    spaceBetween: 20
                }
            },
        });
    </script>
}