@using Nop.Ithoot.Plugin.Shipping.NovaPoshta.Models;
@using Nop.Ithoot.Plugin.Shipping.NovaPoshta;
@model NovaPoshtaModel

<button type="submit" id="shipment-save" name="save" class="btn btn-success" onclick="postWithNovaPoshta(event)">
    <i class="far fa-save"></i>
    @T("Plugins.Shipping.NovaPoshta.Button.Add")
</button>

<script>
    function postWithNovaPoshta(evt) {

        var $target = $(evt.currentTarget);
        var $form = $target.parents('form');
        $form.append('<input type="hidden" name="@NovaPoshtaSettings.NOVA_POSHTA_FORM_KEY" value="add" />');
    }
</script>