.header {
    min-height: 60px;
    width: 100%;
    background-color: #71C5EE;
    color: #00659c;
    position: sticky;
    z-index: 11;
    top: 0;
    transition: .2s ease-out;
    transition-delay: 0s;
}

    .header i {
        font-size: 25px;
    }

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5vh 2vh;
    height: 100%;
    width: 100%;
}

.header .mobile-menu-inner {
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 3;
    height: 100%;
    width: 100%;
    text-align: right;
    /*margin: 18px 0 0 32px;*/
}

.header .mobile-menu--body .nav--link,
.header .mobile-menu--body .mobile-nav--item {
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding-left: 12px;
    border-bottom: 1px solid;
    line-height: 60px;
    width: 100%;
}

.header .mobile-menu--body .nav--child-item .mobile-nav--item {
    border: none;
}

.header .mobile-menu--body .sublist-toggle.mobile-nav--item.expanded {
    opacity: 1;
}

.header .mobile-menu--body .mobile-nav--item:hover {
    opacity: 0.6;
}

.header .mobile-menu--body .nav--child-item .nav--link {
    text-transform: capitalize;
}

.header .mobile-menu--body .nav--link a {
    display: flex;
    flex-direction: row;
}

.header-inner--logo {
}

    .header-inner--logo .medlook {
        background: url('../images/medlook-logo-text.svg') left center no-repeat;
        height: 50px;
        width: 100%;
    }

.header-inner--actions, .header-inner--logo, .header-inner--nav {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
}

    .header-inner--actions .header--mini-basket, .header-inner--actions > a, .header-inner--actions > li, .header-inner--actions button {
        display: flex;
        margin-left: 2vh;
        line-height: 1;
        height: 100%;
        align-items: center;
    }

#menu__toggle, #gtx-trans {
    opacity: 0;
    display: none;
    background: none;
    border: 0;
    border-left: 0;
    border-right: 0;
}

    #menu__toggle svg {
        height: 32px;
        width: 32px;
        z-index: 4;
    }

/* Search box */
#searchbox {
    display: flex;
    align-items: center;
}

    #searchbox a {
        background: url('../images/search.svg') left 1px no-repeat;
        height: 32px;
        width: 28px;
    }

    #searchbox .search-component {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        position: relative;
        width: 100%;
        padding: 1rem;
    }

        #searchbox .search-component .remove-btn {
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
            padding: 3.2rem 1.8rem;
            width: 20px;
            height: 20px;
            opacity: 0.7    ;
            background: transparent;
            border: none;
        }

            #searchbox .search-component .remove-btn:hover {
                opacity: 1;
            }

            #searchbox .search-component .remove-btn:before,
            #searchbox .search-component .remove-btn:after {
                position: absolute;
                left: 15px;
                content: ' ';
                height: 33px;
                width: 2px;
                background-color: #00659c;
            }

            #searchbox .search-component .remove-btn:before {
                transform: rotate(45deg);
            }

            #searchbox .search-component .remove-btn:after {
                transform: rotate(-45deg);
            }

        #searchbox .search-component .input-group-text {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: #000;
            padding: 2.5rem 1.7rem;
        }

    #searchbox .icon-search {
        /*position: absolute;
        top: 50%;*/
        background: url('../images/search.svg') left 1px no-repeat;
        background-size: cover;
        height: 22px;
        width: 18px;
    }

    #searchbox #small-search-box-form .search-box-text {
        /*margin: 10px auto;
            width: 90%;*/
        position: relative;
        flex: 1 1 auto;
        width: 1%;
        min-width: 0;
        padding: 2.2rem 2rem;
    }

    #searchbox #small-search-box-form {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        z-index: 3;
        background-color: #fff;
        box-shadow: 0 15px 15px -15px rgba(0,0,0,.1);
    }

        #searchbox #small-search-box-form.expanded {
            display: block;
        }


/*
        #searchbox a svg {
            height: 32px;
            width: 30px;
        }*/
#wishlistlink {
    display: flex;
    align-items: center;
}

    #wishlistlink a {
        background: url('../images/heart.svg') left 1px no-repeat;
        height: 32px;
        width: 30px;
    }

    #wishlistlink .wishlist-qty {
        display: flex;
        justify-content: center;
        color: white;
        background-color: #00659C;
        position: relative;
        top: 5px;
        left: -5px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 10px;
        border-radius: 50%;
    }

#topcartlink {
    display: flex;
    align-items: center;
}

    #topcartlink a {
        display: flex;
        background: url('../images/bag.svg') left 1px no-repeat;
        height: 32px;
        width: 30px;
    }

    #topcartlink .cart-qty {
        display: flex;
        justify-content: center;
        color: white;
        background-color: #00659C;
        position: relative;
        top: 5px;
        left: -5px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 10px;
        border-radius: 50%;
    }

.hamburger {
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    margin-left: 4vh;
    display: flex;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 5;
}

    .hamburger:hover {
        /*opacity: 0.7;*/
    }

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        width: 40px;
        height: 4px;
        background-color: #00659c;
        border-radius: 4px;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
    }

        .hamburger-inner::before, .hamburger-inner::after {
            content: "";
            display: block;
        }

        .hamburger-inner::before {
            top: -10px;
        }

        .hamburger-inner::after {
            bottom: -10px;
        }
/*
   * Slider
   */
.hamburger--slider .hamburger-inner {
    top: 2px;
}

    .hamburger--slider .hamburger-inner::before {
        top: 10px;
        transition-property: transform, opacity;
        transition-timing-function: ease;
        transition-duration: 0.15s;
    }

    .hamburger--slider .hamburger-inner::after {
        top: 20px;
    }

#menu__toggle:checked ~ .hamburger--slider .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(45deg);
}

    #menu__toggle:checked ~ .hamburger--slider .hamburger-inner::before {
        transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
        opacity: 0;
    }

    #menu__toggle:checked ~ .hamburger--slider .hamburger-inner::after {
        transform: translate3d(0, -20px, 0) rotate(-90deg);
    }

#menu__toggle:checked ~ .hamburger:hover {
    /*opacity: 0.7;*/
}

#menu__toggle:checked ~ .hamburger-inner, #menu__toggle:checked ~ .hamburger-inner::before, #menu__toggle:checked ~ .hamburger-inner::after {
    background-color: #000;
}

.mobile-menu {
    display: none;
}

#menu__toggle:checked ~ .mobile-menu {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #71C5EE;
    color: #feffff;
    transition: all .4s ease-out;
    overflow: hidden;
    z-index: 4;
    height: 100%;
    width: 400px;
    border-left: 1px solid #00659c;
}

.main_menu_item {
    margin: 0 1.2vh;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
}


.menu__item-category {
    /*margin-bottom: 18px;*/
}

.language-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.language-selector-items {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.language-selector a {
    padding: 6px;
    margin: 2px;
    line-height: 1.5;
}

    .language-selector a:hover {
        background-color: #00659c;
        border-radius: 6px;
        color: #fff;
        padding: 6px;
    }

    .language-selector a.selected {
        cursor: default;
        background-color: #00659c;
        border-radius: 6px;
        color: #fff;
        opacity: 0.7;
        padding: 6px;
    }

.nav--dropdown {
    width: 100%;
    margin-bottom: 18px;
}

.nav--dropdown-inner {
    display: flex;
    flex-direction: row;
}

.no-padding-left {
    padding-left: 0 !important;
}

.sublist-toggle {
    width: 55px;
    background: url('../images/toggle-black.png') right no-repeat;
    background-position-y: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

.sublist {
    display: none;
    width: 100%;
}

.search-box-nav-item:hover {
    opacity: 1 !important;
}

.search-box {
    height: 60px;
    width: 100%;
}

    .search-box form {
        display: flex;
        width: 100%;
    }

    .search-box input.search-box-text {
        margin: 0;
        color: red;
        height: 60px;
        width: 100%;
    }

    .search-box .search-box-button {
        display: none;
    }

        .search-box .search-box-button:hover {
            background-color: #248ece;
        }

    .search-box .ui-autocomplete-loading {
        background: #feffff url('../images/ajax-loader-small.gif') right center no-repeat;
    }



@media (max-width: 581px) {
    .header-inner--logo .medlook {
        /*background: url('../images/medlook-logo.svg') left center no-repeat;*/
        height: 42px;
        /*width: 42px;*/
    }
}

@media (max-width: 1199px) {
    .header {
        width: 100vw;
    }

    .header-inner--logo .logo-wrapper {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .hamburger {
        margin-left: 2vh;
    }
}

@media (max-width: 620px) {
    #menu__toggle:checked ~ .mobile-menu {
        width: 100%;
    }
}
