<div class="product-filter applied-filters">
    <div class="filter-title">
        <strong>@T("Applied Filters")</strong>
            <a class="clear-filters-button" id="clear-applied-filters-button">Clear</a>
    </div>
    <div class="filter-content">
    </div>
</div>
