
@model CatalogProductsModel
@{    
    Layout = "_ColumnsTwo";

    //title
    NopHtml.AddTitleParts(T("PageTitle.RecentlyViewedProducts").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-recently-viewed-products-page");
}

@section CatalogFilters {
    @await Html.PartialAsync("_CatalogFilters", Model)
}

<div class="page recently-viewed-products-page">
    Pidor
    <div class="page-title">
        <h1>@T("Products.RecentlyViewedProducts")</h1>
    </div>
    <div class="page-body">
        @await Html.PartialAsync("_CatalogSelectors", Model)
        @{
            var catalogProductsViewData = new ViewDataDictionary(ViewData);
            catalogProductsViewData["fetchUrl"] = Html.Raw(Url.Action("GetRecentlyViewedProducts", "NopAdvancePublicExtendedProductFilters"));
        }
        Pidor
        @await Html.PartialAsync("_CatalogProducts", Model, catalogProductsViewData)
    </div>
</div>
