@model LanguageSelectorModel

@inject Nop.Core.IWebHelper webHelper

@if (Model.AvailableLanguages.Count > 1)
{
    var returnUrl = webHelper.GetRawUrl(Context.Request);

    var languages = Model.AvailableLanguages.Select(lang => new SelectListItem
                {
                    Text = lang.Name,
                    Value = Url.RouteUrl("ChangeLanguage", new { langid = lang.Id, returnUrl }, webHelper.GetCurrentRequestProtocol()),
                    Selected = lang.Id.Equals(Model.CurrentLanguageId)
                });
    <ul class="nav-items nav-expand-content">
        @foreach (var lang in languages)
        {
        <li class="nav-item">
                <a href="@lang.Value" class="nav-link @(@lang.Selected ? "selected" : "")">@lang.Text</a>
        </li>
        }
            
    </ul>
}